<div class="row text-center bg-dark border-top">

    <div class="col">
        <h2 class="aside-heading fs-5"><%= heading %></h2> <!-- fs-5 is setting "font-size" to 5 on a scale of 6 to 1, 6 smallest 1 largest.-->
    </div>

</div>