<!-- Marc Nettles-->
<!-- Full Stack Website-->

<!-- Banner-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!--<div class="container-fluid text-sm-center p-3 bg-warning d-none d-sm-none d-md-none d-lg-none d-xl-block" style="height:300px; max-height: 300px;min-height: 300px; overflow-y: auto;">
-->
<!-- Large container to control the background color of the banner and set the text -->
<div class="container-fluid text-nowrap bg-warning p-3 d-none d-sm-block">

    <div class="container"> <!-- Needed so the text doesn't get too far from center when increasing window size -->

        <div class="row d-flex">

            <div class="col-md flex-nowrap d-none d-md-block text-center align-items-center"> <!--"d-none" hides all until "d-md-block" which is saying "hide all sizes below this by considering all the sizes below this one big block of sizes".-->
                <p class="lead"><b>B.Sc. in Computer Science</b></p>
                <a href="https://www.colorado.edu/"><img src="resources/img/boulder-one-line-reverse.webp" height="50" width="250" alt="University of Colorado Boulder Buffs Logo" class="img-fluid"></a>
            </div>
            
            <div class="col flex-nowrap text-center"> <!-- Note the lack of d-none. This is because I want this to be the last thing that shows when shrinking window size.-->
                <h1 class="display-3 unique-font-3">Marc Nettles</h1>
            </div>
    
            <div class="col-md flex-nowrap d-none d-md-block text-center align-items-center">
                <p class="lead"><b>U.S. Air Force Veteran</b></p>
                <a href="https://www.af.mil/"><img src="resources/img/AirForceLogo.webp" alt="U.S. Air Force Logo" class="img-fluid"></a>
            </div>

        </div>
    
    </div>

</div>