<!--<div class="row bg-dark border-top">
    <div class="col">
    --><!-- Left empty to center the Aside R--><!--
    </div>
    <div class="col" class="text-center">
        <h2 class="aside-heading fs-5">News</h2> --><!-- fs-5 is setting "font-size" to 5 on a scale of 6 to 1, 6 smallest 1 largest.--><!--
    </div>
    <div class="col">
    --><!-- Left empty to center the Aside R--><!--
    </div>
</div>
<div class="row bg-light align-items-center">
    <h3 class="text-center">A+ Security!</h3>
    <div class="col">
        <a href="https://securityheaders.com/" data-bs-toggle="tooltip" data-bs-title="Security Headers A+ rating"><img src="resources/img/a-plus-security-rating.webp" alt="HTML5 logo" class="img-fluid"></a>
    </div>

</div>
-->




<!-- Updating the news to be a carousel of news-->

<div class="container">

    <div id="news_carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#news_carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide #1"></button>
            <button type="button" data-bs-target="#news_carousel" data-bs-slide-to="1" aria-label="Slide #2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                
                <div class="row bg-light align-items-center">
                    <h3 class="text-center">A+ Security!</h3>
                    <div class="col">
                        <a href="https://securityheaders.com/" data-bs-toggle="tooltip" data-bs-title="Security Headers A+ rating"><img src="resources/img/a-plus-security-rating.webp" alt="Security Headers A+ rating" class="img-fluid"></a>
                    </div>
                
                </div>
            </div>
            <div class="carousel-item">
                
                <div class="row bg-light align-items-center">
                    <h3 class="text-center">Signup/Login Working!</h3>
                    <div class="col">
                        <a href="/signup" data-bs-toggle="tooltip" data-bs-title="Signup and Login Working!"><img src="resources/img/login-signup-working.webp" alt="Login and Signup working." class="img-fluid"></a>
                    </div>
                
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#news_carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#news_carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>