<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" id="cybersecurity-tab" data-toggle="tab" href="#cybersecurity">Cybersecurity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="webdev-tab" data-toggle="tab" href="#webdev">Web Development</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="datascience-tab" data-toggle="tab" href="#datascience">Data Science</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="cybersecurity">
        <h2>Cybersecurity Content</h2>
        <p>This is the cybersecurity content...</p>
      </div>
      <div class="tab-pane fade" id="webdev">
        <h2>Web Development Content</h2>
        <p>This is the web development content...</p>
      </div>
      <div class="tab-pane fade" id="datascience">
        <h2>Data Science Content</h2>
        <p>This is the data science content...</p>
      </div>
    </div>
  </div>

  <script src="javascripts/skillsnavbar.js"> </script>