<div class="row bg-dark border-top">
    <div class="col">
        <!-- Left empty to center the Aside L-->
    </div>

    <div class="col" class="text-center">
        <h2 class="aside-heading fs-5">Technologies Used</h2> <!-- fs-5 is setting "font-size" to 5 on a scale of 6 to 1, 6 smallest 1 largest.-->
    </div>

    <div class="col">
        <!-- Left empty to center the Aside L-->
    </div>
</div>

<div class="row bg-light align-items-center"> <!-- align-items-center aligns all the images vertically-->

    <div class="row">

        <h2 class="h3 text-center">Web Development</h2>

        <div class="row">
            <div class="col">
                <a href="https://en.wikipedia.org/wiki/HTML5" data-bs-toggle="tooltip" data-bs-title="HTML5"><img src="resources/img/HTML5Logo.webp" alt="HTML5 logo" class="img-fluid"></a>
            </div>
            <div class="col">
                <a href="https://en.wikipedia.org/wiki/CSS" data-bs-toggle="tooltip" data-bs-title="CSS3"><img src="resources/img/CSS3Logo.webp" alt="CSS3 logo" class="img-fluid"></a>
            </div>
            <div class="col">
                <a href="https://ejs.co/" data-bs-toggle="tooltip" data-bs-title="EJS Embedded JavaScript"><img src="resources/img/ejsLogo.webp" alt="EJS logo" class="img-fluid"></a>
            </div>
            <div class="col">
                <a href="https://expressjs.com/" data-bs-toggle="tooltip" data-bs-title="ExpressJS"><img src="resources/img/ExpressJSLogo.webp" alt="ExpressJS logo" class="img-fluid"></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://www.javascript.com/" data-bs-toggle="tooltip" data-bs-title="JavaScript"><img src="resources/img/JavascriptLogo.webp" alt="Javascript logo" class="img-fluid"></a>
            </div>
            <div class="col">
                <a href="https://nodejs.org/" data-bs-toggle="tooltip" data-bs-title="NodeJS"><img src="resources/img/2560px-Node.webp" alt="NodeJS logo" class="img-fluid"></a>
            </div>
            <div class="col">
                <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/AJAX" data-bs-toggle="tooltip" data-bs-title="AJAX Asynchronous JavaScript and XML"><img src="resources/img/AjaxLogo.webp" alt="AJAX logo" class="img-fluid"></a>
            </div>
            <div class="col">
                <a href="https://getbootstrap.com/" data-bs-toggle="tooltip" data-bs-title="Bootstrap"><img src="resources/img/BootstrapLogo.webp" alt="Bootstrap logo" class="img-fluid"></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">

        <h2 class="h3 text-center">Programming Languages</h2>

        <div class="col">
            <a href="https://en.wikipedia.org/wiki/C_(programming_language)" data-bs-toggle="tooltip" data-bs-title="C Programming Language"><img src="resources/img/CLogo.webp" alt="C Programming Language logo" class="img-fluid"></a>
        </div>
        <div class="col">
            <a href="https://en.wikipedia.org/wiki/C%2B%2B" data-bs-toggle="tooltip" data-bs-title="C++ Programming Language"><img src="resources/img/CPPLogo.webp" alt="C Plus Plus logo" class="img-fluid"></a>
        </div>
        <div class="col">
            <a href="https://www.python.org/" data-bs-toggle="tooltip" data-bs-title="Python Programming Language"><img src="resources/img/PythonLogo.webp" alt="Python logo" class="img-fluid"></a>
        </div>
        <div class="col">
            <a href="https://www.scala-lang.org/" data-bs-toggle="tooltip" data-bs-title="Scala"><img src="resources/img/ScalaLogo.webp" alt="Scala logo" class="img-fluid"></a>
        </div>
    </div>
    <hr>
    <div class="row">

        <h2 class="h3 text-center">Security, System, and Database Administration Tools</h2>

        <div class="col">
            <a href="https://www.vmware.com/" data-bs-toggle="tooltip" data-bs-title="VMWare"><img src="resources/img/vmwareLogo.webp" alt="vmware logo" class="img-fluid"></a>
        </div>
        <div class="col">
            <a href="https://www.wireshark.org/" data-bs-toggle="tooltip" data-bs-title="Wireshark"><img src="resources/img/WiresharkLogo.webp" alt="Wireshark logo" class="img-fluid"></a>
        </div>
        <div class="col">
            <a href="https://www.vmware.com/products/whats-new/carbon-black.html" data-bs-toggle="tooltip" data-bs-title="Carbon Black"><img src="resources/img/CarbonBlackLogo.webp" alt="CarbonBlack logo" class="img-fluid"></a>
        </div>
        <div class="col">
            <a href="https://en.wikipedia.org/wiki/Active_Directory" data-bs-toggle="tooltip" data-bs-title="Active Directory"><img src="resources/img/ActiveDirectoryLogo.webp" alt="Active Directory logo" class="img-fluid"></a>
        </div>
        <div class="col">
            <a href="https://www.mysql.com/products/workbench/" data-bs-toggle="tooltip" data-bs-title="MySQL Workbench"><img src="resources/img/MySQLWorkbenchLogo.webp" alt="MySQL Workbench logo" class="img-fluid"></a>
        </div>
        
    </div>
    


</div>

<!--Add more by using 

    <div class="row bg-dark border-top">
        <div class="col">

        </div>

        <div class="col" class="text-center">
            <h2 class="aside-heading fs-5">HEADING</h2> 
        </div>

        <div class="col">

        </div>
    </div>

    <div class="row bg-light align-items-center"> 

        <div class="row">

            ITEMS

        </div>
    </div>
    
-->