<div class="row bg-dark border-top">
    <div class="col">
        <!-- Left empty to center the Aside R-->
    </div>
    <div class="col" class="text-center">
        <h2 class="aside-heading fs-5">Under Construction</h2> <!-- fs-5 is setting "font-size" to 5 on a scale of 6 to 1, 6 smallest 1 largest.-->
    </div>
    <div class="col">
        <!-- Left empty to center the Aside R-->
    </div>
</div>
<div class="row bg-light align-items-center">
    <span class="lead">Items which are still under construction:</span>
    <ul>
        <li>Sign In Functionality</li>
        <li>Database Implementation with Hashed+Salted Passwords</li>
        <li>Add More Projects to My Projects</li>
    </ul>

</div>