<%- include("../partials/asideheader", {heading: "Under Construction"}) %>
<div class="row bg-light align-items-center">
    <span class="lead">Items which are still under construction:</span>
    <ul>
        <li>Implement CSRF for security and implement session management to keep users signed in.</li>
        <li>Add More Projects to My Projects</li>
    </ul>

</div>