AWS Lightsail Setup.docx
AWSppk.ppk
LightsailKey.pem
Receipt for registrar domain name registration.PNG
Setting Up AWS Lightsail with Nodejs.docx
pg-pass.txt
AWS Lightsail Stuff/~$S Lightsail Setup.docx
