/* These are classes (.blah is the class blah). Anything with the class .sticky-top will 
 * stick to the top of the screen as you scroll past it
 */



 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inconsolata&family=Inter:wght@300&family=Nunito+Sans:opsz@6..12&family=Poppins:wght@300&family=Roboto&display=swap');


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}



.aside-heading {
  color:aliceblue;
}



.unique-font-1 {
  font-family: 'Nunito Sans', sans-serif;
}

.unique-font-2 {
  font-family: 'Inconsolata', monospace;
}

.unique-font-3 {
  font-family: 'Abril Fatface', cursive;
}

.golden-text{
  color:gold;
}

.goldenrod-text{
  color: goldenrod;
}

.aliceblue-text{
  color:aliceblue;
}