/* These are classes (.blah is the class blah). Anything with the class .sticky-top will 
 * stick to the top of the screen as you scroll past it
 */
/*.sticky-top{
  position: sticky;
  top: 0px;
}

.sticky-bottom{
  position: sticky;
  bottom: 0px;
}*/


/* DO NOT USE WITH BOOTSTRAP. It has it's own built-in grid (https://getbootstrap.com/docs/5.0/layout/grid/) 
 * which contains "containers" (https://getbootstrap.com/docs/5.0/layout/containers/). Only use this if you disable Bootstrap first.
 */
 /*
.container-grid{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
  "header header header"
  "aside_L main aside_R"
  "aside_L main aside_R"
  "aside_L main aside_R"
  "footer footer footer";
  max-width: 1200px;
  margin: auto;
  height: 50vh;
  width: 100vw;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
*/
/*
.sr-only{
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}