<!-- How I customized layouts with EJS to allow me to insert blocks of data 

    1. The method of creating 

-->

<div class="row">
    <h2 class="h2 text-center">My Blog</h2>
    <div class="col">
        <h3 class="h3">How to Inject HTML into EJS Layouts on a Node server with Express</h3>
        <p>So, the layout.ejs file in views had me confused because it seemed like the only thing you could do (since EJS doesn’t support block layouts, which I assume means being able to replace blocks of content in the layout) was append a layout to the beginning or end of the html, which wasn’t ideal.<br>
            <br>
            Instead, I figured I could use Node.js with Express to fill in the data for me by having it render the layout page and then just injecting my custom blocks of html into a variable on the layout.<br>
            <br>
            First, I’m routing using the EJS Router. Then, in the app.js, I tell the app to use this routing.<br>
            <img src="resources/blog/Routing with a Router.PNG" alt="Code detailing how to use routing with app.js" class="img-fluid"> <br>
             <br>
            Then, in the /routes/Index.js file, we require the fs (FileStream) to read a local html (or ejs) file. We also grab a Router from Express.<br>
             <img src="resources/blog/IndexRouting_includingFS.PNG" alt="Code dtailing how to include router and fs filestream" class="img-fluid"><br>
            <br>
            Then we do our routing. Here’s an example of how it normally looks:<br>
            <img src="resources/blog/Example of old way.PNG" alt="Code showing how to normally use router to route GET request" class="img-fluid"><br>
            <br>
            And here’s how I change it up:<br>
            <img src="resources/blog/Example of new way.PNG" alt="Code showing how I change the routing to inject HTML" class="img-fluid"><br>
            <br> 
            <br>
            
            If you’re looking at this sideways and it still isn’t making sense, let me break it down:<br>
            <ul >
                <li>Router.get(‘/testpage’, (req,res)=>{</li>
                <ul>
                    <li>This is how Express routes traffic when it receives a GET request from a browser for the page “/testpage”, like if you were to go to www.marcnettles.com/testpage then my server would route your GET request for “/testpage”.</li>
                    <li>o	The (req,res)=>{ //stuff } is what is called an “Anonymous Callback function”. Callback functions are asynchronous, meaning they won’t tie up your server trying to process this request. It pulls in any information from the request with “req” and then it uses “res” to send information back, such as rendering a page for the user to see.</li>
                </ul>

                <li>fs.readFile(“views/pages/aboutTest.ejs”, function callback_read(err,data){ //stuff }</li>
                <ul>
                    <li>This is reading in a file (an ejs file which just contains the html for an About Me article), but it is doing it asynchronously to avoid tying up the server.</li>
                </ul>

                <li>If (err) { throw err; }</li>
                <ul>
                    <li>If the server can’t find the file, it throws an error.</li>
                </ul>

                <li>res.render(‘layout’, { title: “Test Page | Marc Nettles”, content: data });</li>
                <ul>
                    <li>This renders the layout.ejs file in our views folder and it replaces the variable “title” with “Test Page | Marc Nettles” and “content” with “data”. “data” is the output of the fs.readFile() function we saw above.  The contents of layout.ejs are given below:</li>
                    <li><img src="resources/blog/contentOf_layoutejs.PNG" alt="Code for layout.ejs" class="img-fluid"></li>
                    <li>This layout is built with EJS partials (which are just pieces of HTML in a separate file that are then loaded in here), so we don’t immediately see where the variable “title” is located, but the important part is in MAIN where we see the line “&lt;%- content -%&gt;</li>
                    <li>&lt;%- variableName -%&gt; is javascripts way of embedding unescaped HTML while removing whitespace. Use &lt;%- variableName %&gt; if you don’t want to remove whitespace.</li>
                </ul>

            </ul>

            <br>
            So, we now know that the variable “content” is being replaced with the variable “data” which is filled by fs.readFile() to be the contents of the file aboutTest.ejs, which is seen below.<br>
            <img src="resources/blog/contentOf_aboutTestejs.PNG" alt="Code for aboutTest.ejs" class="img-fluid"><br>
            <br>
            Which gives us the result:<br>
            <img src="resources/blog/Layouts_finalresult.PNG" alt="Webpage with abouTest.ejs injected into layout.ejs" class="img-fluid"><br>
            <br>
            <br>
            And that’s it! That’s how to asynchronously inject block content into an EJS layout!
             </p>
    </div>
</div>
