<!--// Marc Nettles 06/27/2022
//
// The intent of this project is to set up my own private
// web server which will host my public website containing
// my coding and webdev projects.
//
//
// Things I want to use: Back-end/Front-end separation, Bootstrap, NodeJS, ExpressJS, EJS, maybe try some reactJS
-->

<!-- projects.ejs is where I will organize and list all of my personal projects. -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


        <section class="py-5 text-center container">

            <div class="row py-lg-5">
                
                <div class="row">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <p class="display-2"> <u>My Projects</u> </p>
                        <p> Note: I'm changing up the font with each entry to showcase the use of different fonts. They may not all look great, but the point is to show I know how to import fonts.</p>
                    </div>
                </div>
                <div class="row">
                    <p class="display-6">The Carousel</p>
                    <p>This is a Bootstrap carousel filled with some stock photos. Very common on the home page of any website.</p>
                </div>
                
                <%- include("../partials/examplecarousel") %>
            </div>

            <!-- Robotics Final Video-->
            <div class="row">
                <p class="display-6">Robotics Final</p>
                <p class="unique-font-1">I mainly worked on the RRT (Rapidly Exploring Random Tree) algorithm which took in a completed mapping, completed using LiDAR, and then finds the optimal route. 
                    I also implemented a smoothing technique, which allowed the robot's movement to be much smoother.</p>
                <video controls>
                    <source src="resources/video/Robotics Final Project.mp4" />
                </video>
            </div>
            <br><br>
            <!-- Senior Capstone Project for Digiclips Video-->
            <div class="row">
                <p class="display-6">Senior Capstone - Search Engine Video Editor for DigiClips</p>
                <p class="unique-font-2">I was team lead for this project and as such I not only coded a good portion of the project, but I also oversaw front-end and back-end team progress, ensured there was 
                    effective communication, made sure organizational tools such as Notion were utilized, communicated with the sponsors, and hosted team building events.  </p>
                <video controls>
                    <source src="resources/video/Back-up Video Demo of Project.mp4" />
                </video>
            </div>
            
        </section>

        
