<!--// Marc Nettles 06/27/2022
//
// The intent of this project is to set up my own private
// web server which will host my public website containing
// my coding and webdev projects.
//
//
// Things I want to use: Back-end/Front-end separation, Bootstrap, NodeJS, ExpressJS, EJS, maybe try some reactJS
-->

<!-- projects.ejs is where I will organize and list all of my personal projects. -->

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito+Sans:opsz@6..12&family=Poppins:wght@300&family=Roboto&display=swap');
</style> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter:wght@300&family=Nunito+Sans:opsz@6..12&family=Poppins:wght@300&family=Roboto&display=swap" rel="stylesheet"> 

        <section class="py-5 text-center container">

            <div class="row py-lg-5">
                
                <div class="row">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <p class="display-2"> <u>My Projects</u> </p>
                        <p> Note: I'm changing up the font with each entry to showcase the use of different fonts. They may not all look great, but the point is to show I know how to import fonts.</p>
                    </div>
                </div>
                <div class="row">
                    <p class="display-6">The Carousel</p>
                    <p>This is a Bootstrap carousel filled with some stock photos. Very common on the home page of any website.</p>
                </div>
                
                <div class="container">

                    <div id="index_main_Carousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#index_main_Carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide #1"></button>
                            <button type="button" data-bs-target="#index_main_Carousel" data-bs-slide-to="1" aria-label="Slide #2"></button>
                            <button type="button" data-bs-target="#index_main_Carousel" data-bs-slide-to="2" aria-label="Slide #3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="resources/exampleCarousel/tree.jpg" class="d-block w-100" alt="Serene Picture" style="width:1920px;height:900px" >
                            </div>
                            <div class="carousel-item">
                                <img src="resources/exampleCarousel/dawn.jpg" class="d-block w-100" alt="Calm Picture" style="width:1920px;height:900px">
                            </div>
                            <div class="carousel-item">
                                <img src="resources/exampleCarousel/poppy.jpg" class="d-block w-100" alt="Flowers Picture" style="width:1920px;height:900px">
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#index_main_Carousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#index_main_Carousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <p style="text-align:right">All Photos provided by Pixabay.com under their free photos section.</p> 
                </div>
            </div>

            <!-- Robotics Final Video-->
            <div class="row">
                <p class="display-6">Robotics Final</p>
                <p style="font-family: 'Nunito Sans', sans-serif;">I mainly worked on the RRT (Rapidly Exploring Random Tree) algorithm which took in a completed mapping, completed using LiDAR, and then finds the optimal route. 
                    I also implemented a smoothing technique, which allowed the robot's movement to be much smoother.</p>
                <video controls>
                    <source src="resources/Robotics Final Project.mp4" />
                </video>
            </div>
            <br><br>
            <!-- Senior Capstone Project for Digiclips Video-->
            <div class="row">
                <p class="display-6">Senior Capstone - Search Engine Video Editor for DigiClips</p>
                <p style="font-family: 'Inconsolata', monospace;">I was team lead for this project and as such I not only coded a good portion of the project, but I also oversaw front-end and back-end team progress, ensured there was 
                    effective communication, made sure organizational tools such as Notion were utilized, communicated with the sponsors, and hosted team building events.  </p>
                <video controls>
                    <source src="resources/Back-up Video Demo of Project.mp4" />
                </video>
            </div>
            
        </section>

        
